
/*======================
Base element styles
=========================*/
*{
    margin: 0;
    padding: 0;
    font-family:
}


img {
    width: 100%;
    max-height: 1000px;
}


a {
    text-decoration: none;
}

ul{
    list-style: none;
}

h1 a,
ul li a{
    color: #fff;
}
/*============
Navigation
===============*/


.Nav-img .main-header {
    height: 70px;
    position: relative;
}

 .Nav-img {
    margin: 0 10px; 
}
.main-header {
    background: #222;
}

.site-name {
    font-size: 2em;
    margin-left: 0px;
}

.site-name a,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.main-nav a {
    font-size: .95em;
    text-transform: uppercase;
    
}
.main-nav {
    display: inline-block;
    margin-top: 5px; 
}

.banner {
    position: relative;
    width: 100%;
    text-align: center;
    height: 460px;
    background-image:url("../img/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.row{
margin-top: 10px;
margin-bottom: 25px;
margin-right: 25px;
margin-left: 25px;
text-align: justify;
}
.tagline {
color:#fff;
font-size: 2em;
display: inline-block;
margin-top: 5px;

}
.wrap{
   min-height: calc(100vh - 58px);
}

.main-footer{
    text-align: center;
    padding-top: 15px;
    height: 40px;
    background-color:#222;
    color:#fff;
    margin: 0 10px;
}
.tag{
    text-align: center;
    font-size: 28px;
}


/*================================
    Flex Box for responsive layout
==================================*/
.main-header, 
.main-nav ,
.row {
    display: flex;
    justify-content: space-between;

}

.col{
    width:48.5%;

}
.row{
    flex-wrap: wrap;
}
.main-header {
     align-items: center;
}



h2{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}


/*===========
 Toggle Menu 
 ============*/

.main-header h1{
    color:#fff;
    height: 50px;
    line-height: 50px;
    float: left;
}
.Nav-img nav{
    float: right;
}
.Nav-img nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.Nav-img nav ul li{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color:#fff;
}
.Nav-img .main-header .site-name a {
    text-decoration: none;
}

.Nav-img .main-header .menu-burger {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*==================== 
Media Queries
======================*/

@media (max-width: 575.98px) { 

    .Nav-img .main-header{
        height: 130px;
    }
    .main-nav{
        margin-top: -25px;
    }
    .Nav-img .main-header .site-name {
        text-align: center;
    }

    .site-name a,
    .main-nav a {

        padding-bottom: 2px;
        text-align: left;
    }
    .Nav-img .main-header .site-name a{
        font-size: 20px;
        padding-top: 10px;
        padding-left: 35px;

    }

}

@media (max-width: 767.98px) { 
    /* *{
        font-size: 16px;
    }
     */
    .tagline {
        padding-top: 35px;
        font-size: 1.48em;
        
        }

        .galleryContainer {
            height:515px;
        }

    .Nav-img .main-header{
        height: 130px;
        }
    .main-nav{
        margin-top: -25px;
        }
    .Nav-img .main-header .site-name {
        text-align: center;
        }

    .site-name a,
    .main-nav a {

        height: 25px;
        text-align: left;
        }

    .Nav-img .main-header .site-name a{
        font-size: 20px;
        padding-top: 5px;
        padding-left: 10px;

        }
        .main-header, .main-nav, .row{
            display: block;
        }
        .col{
            width: 100%;
            text-align: justify;
        }
        h2{
            margin-top: 15px;
        }
        .tag{
            text-align: center;
            font-size: 22px;
        }


        /*=============================
         Toggle Menu For Mobile Devices 
         ===============================*/

        header {
            padding: 0 20px;
        }
        .Nav-img .main-header .menu-burger {
            display: block;
        }
        .Nav-img .main-header .main-nav {
            display: none;
             position: absolute;
            z-index: 2;
            width: 100%;
            height:calc(100vh-50px);
            background: #333;
            top: 50px;
            left:0;
            transition: 0.5s;
            margin-top:9px;
        }

        .Nav-img .main-header ul {
             display:block;
             text-align: center;
        }
        .Nav-img .main-header ul a{
            border-bottom: 1px solid rgba(0,0,0,.2);
        }
        .Nav-img .main-header{
            height: 60px;
        }
}

@media (max-width: 991.98px) { 
    .tagline {
        padding-top: 35px;
        
        }
        .tag{
            text-align: center;
        }

}

@media (max-width: 1199.98px) {
    .tagline {
        padding-top: 35px;
    
    }
    .tag{
        text-align: center;
    }
}
